

# AI KEYS necesarias para el proyecto
## Recuerda que sólo necesitas la que usarás en el proyecto


# https://console.groq.com/keys
# GROQ_API_KEY=gsk_XXXXXXX


# https://platform.openai.com/account/api-keys
# OPENAI_API_KEY=sk-proj-

# https://platform.claude.com/settings/workspaces/default/keys
# ANTHROPIC_API_KEY=sk-ant-

# https://aistudio.google.com/api-keys
# GOOGLE_GENERATIVE_AI_API_KEY=AQ.XXXXXX